/*Top header image*/
.restaurant {
  height: auto;
  width: 100%;
  position: -webkit-sticky;
}

/*Header title*/
.header {
    padding: 0;
    text-align: center;
    color: white;
    margin: 0;
    font-size: 20px;
}

/* Footer */
.footer {
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 100%;
    height: 40px;
    color: white;
    background-color: black;
}

/*Body content*/
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
  }

  h1, h4 {
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    padding: auto;
    font-size: 40px;
  }
 
  .aligncenter {
    text-align: center;
    width: 100%;
  }