/*Navigation Bar*/
ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
 }

li {
     float: left;
 }

li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
 }

 /*change the link color to  on hover*/
 li a:hover {
    background-color: black;
  }